## this page should Search.SearchInTestSuite
##                  ===========================
## this page presents a search form and the search results
#* @vtlvariable name="lucene" type="com.xpn.xwiki.plugin.lucene.LucenePluginApi" *# ##
#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="cursor" type="org.curriki.xwiki.plugin.lucene.ResourcesSearchCursor" *#  ##
<script type="text/javascript">
    window.skbConfigBasePath = "/SearchI2G/net.i2geo.skillstextbox.SkillsTextBox/";
</script>
#includeInContext("Search.IndexWarning")

#if(!$isPlainList)
<form method="get" action="$doc.name" id="resultSortPopupForm">
    <table width="99%" border="0"><tr><td>
        <h3>$msg.get("search.simple.title")</h3>
    </td>
    <td nowrap align="right" valign="middle">
    </td>
    </tr></table></form>

##
<form action="${doc.name}" id="simpleSearchForm2" method="GET">
    <input name="terms" type="hidden" id="termsInput2" value=""/>
<p align="center"></p><div id="searchField2"></div>
##
<script type="text/javascript">
    window.initSKBSearch2 = function initSKBSearch2() {
        console.log("Running the skb-init dedicated to here.");
        if(typeof skbDoSearch == "function") {
            clearInterval(window.initter2);
            skbDoSearch("searchField2| |choose2|true");
    //  choose for us
    window.choose2 = function choose2(uri) {
        console.log("choosing " + uri);
        document.getElementById("termsInput2").value=uri;
        console.log("termsInput " + document.getElementById("termsInput"));
        document.getElementById("simpleSearchForm2").submit();
    }
        }
    }
    if(typeof(window.initter)!="undefined") clearInterval(window.initter);
    if(typeof(window.initter2)!="undefined") clearInterval(window.initter2);
    window.initter2 = window.setInterval('initSKBSearch2()',1000);
</script>
    <input type="hidden" name="extraQuery" value="incollection:mycollection"/> ## Coll_Group_IREM-INRP-AcademiedeLyon.batteriedetest
##
</form>
#end
##
##
#if($request.getParameter("terms"))
##
##
#set($lucene = $xwiki.getPlugin("lucene")) ##
#if(!$lucene) ##{
	<p>$msg.get("search.lucene-plugin-broken")</p>
#else ## }{
##
#set($cursor = $lucene.createResourcesSearchCursor()) ##
$xwiki.getPlugin("searchi2g").makeSureServiceIsInitted($request)
#set($junk = $cursor.graspContexts($xwiki,$context.context,$msg)) ##
#set($junk = $cursor.setLuceneQuery($request.getAttribute("luceneQuery")))
#set($junk = $cursor.readRequest($request.getParameterMap()))
#set($junk = $cursor.buildQueryParser("ft").parse())
$cursor.doQuery() ##
#end
## query expansion (folded unless desired)
#if($request.getParameter("terms"))
#if(!$isPlainList)
<hr>
<script type="text/javascript">
    document.title = document.title + ' : ' + "$request.getParameter("terms").replaceAll('"|\n'," ")";
    function toggleQueryExpansionVisibility() {
        var expansion = document.getElementById('expansionResult');
        var link = document.getElementById('expansionLink');
        if(typeof expansion != 'undefined' && typeof link != 'undefined') {
            if(expansion.style.display == 'none') {
                expansion.style.display = 'block';
                link.style.display = 'none';
                document.getElementById("expansionCell").setAttribute("class","expanded");
            } else {
                expansion.style.display = 'none';
                link.style.display = 'block';
                document.getElementById("expansionCell").setAttribute("class","collapsed");
            }
        }
    }
</script>
<table><tr><td>$msg.get("search.you-searched-for")&nbsp;</td><td>
    #set($terms = $request.getParameter("terms"))
    #if($terms.startsWith("#"))
        #skbListHere("searchTerm" $terms)
    #else
        <i>$terms</i>
    #end
    </td></tr>
<tr><td colspan="2" class="collapsed" id="expansionCell">
        <p onclick="toggleQueryExpansionVisibility();">
           <span id="expansionLink">$msg.get("search.expansion-link")</span>
        <span style="display:none;" id="expansionResult">$msg.get("search.expansion-head")<i>$cursor.getExpandedQuery()</i></span>
    </p></td></tr>
</table>#end
#end
## potential messages
#set($msgs = $cursor.getMessages())
<!-- msgs of size $msgs.size() -->
#if(!$msgs.isEmpty())
<hr/>
<ul>#foreach($msg in $msgs)
  <li>$msg</li>
#end</ul>
#end
<!-- end of messages -->
##
##
## search results
#if($cursor.resultCount == 0)
## no results
 <p>$msg.get("search.no-results")</p>
#else
<script type="text/javascript">
function flyingByRow(elt1) {
    elt1.style.background = 'lightgray';
  }
  function flyingAwayRow(elt1) {
      elt1.style.background = 'transparent';
  }
</script>
##
#set($first = true)
<table width="100%">
#foreach($doc in $cursor) ##{
<tr><td colspan="6"><hr/></td></tr>
#set($ictValues = $cursor.getIctValues())
#set($asset = $cursor.getCurrentDocsAsset())
<tr><td>
    <table width="100%" onmouseover="flyingByRow(this);" onmouseout="flyingAwayRow(this);" onclick="window.location = '$xwiki.getURL("$cursor.fullName")';"><tr >
            <td colspan="3">
              <h3><a href="$xwiki.getURL("$cursor.fullName")"">${cursor.readTitle()}</a></h3>
            </td>
            <td align="right">
                #if($cursor.luceneDocument.get("i2geo.reviewOverallRanking"))
                    #displayRating($cursor.luceneDocument.get("i2geo.reviewOverallRanking"))
                #end
             </td>
        <td rowspan="2" align="right">#mycurriki_ict($asset)</td>
    </tr>
    <tr>
        <td rowspan="2">#mycurriki_filetype($asset)</td>
        <td colspan="4"><small>${cursor.getShortTokenizedDescription()}</small></td>
    </tr>
    <tr>
        #if($cursor.isOwnResource())
            <td colspan="2">$msg.get("search.contributed-own-by",[${cursor.getRightsHolder()}])</td>
        #else
            <td>by ${cursor.getRightsHolder()}</td>
            <td><small style="text-color:gray">$msg.get("search.contributed-by",[${xwiki.getUserName($cursor.contributor)}])</small></td>
        #end
        <td><small style="text-color:gray">$msg.get("search.updated-on",[${cursor.lastModifiedShortDate}])</small></td>
        <td align="right">${cursor.getHtmlTableOfScore()}</td>
    </tr>
    </table></td></tr>
#end ##}
</table>
##
## use just one stringbuffer for every task
## a tooltip for the score float number (score: 37%)
##
<hr>
<p align="center">
    <small>#set($earlierStart=$cursor.earlierStart)
    #set($laterStart=$cursor.laterStart)
    #if($urlExtra)#else#set($urlExtra = "")#end
    #if($request.sort)#set($urlExtra="${urlExtra}&sort=$request.sort")#end
    #if($request.dir)#set($urlExtra="${urlExtra}&dir=$request.dir")#end
    #if($earlierStart)<a href="${doc.name}?start=${earlierStart}&terms=$util.encodeURI($request.terms)${urlExtra}}">$msg.get("search.nav.previous")</a> &lt;&lt;#end
    $msg.get("search.nav.showing",[${cursor.startCount},${cursor.endCount},${cursor.resultCount}])
    #if($laterStart)&gt;&gt; <a href="${doc.name}?start=${laterStart}&terms=$util.encodeURI($request.terms)${urlExtra}">$msg.get("search.nav.next")</a>#end
    </small></p>
#end
#end
