##
## this page is not ready yet to be translated
##
1 Suggestions for the Advanced Search

1.1.1.1 Resources about the sum of angles of a triangle in French

Insert the topic "sum of angles" (just type these words in the Trained-topics field) and select french.

{pre}
This gives <a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=&trained=%23sum-of-triangles-angles-is-180&title=&author=&RightsHolder=&filetype=*&searchlang=fra&review=*&license=*">this search result</a> which you can further edit.
{/pre}

##1.1.1.1 Difficult resources about the Pythagoras Theorem
##
##There is no tag _difficulty_ as it is somewhat a subjective concept but the word _difficile_ might help. Combine it with a search for the Pythagoras theorem.
##
##{pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=difficile&level=&trained=%23PythagorasTheorem&title=&author=&RightsHolder=&filetype=*&searchlang=*&review=*&license=*">Here are the results which you can further edit</a>{/pre}

1.1.1.1 Resources for Troisième that are Commercial Friendly

{pre}Try a <a href="/xwiki/bin/view/Search/Simple?terms=%23College_4">resource for troisième</a> that is along one of the following licenses:{/pre}

* {pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=%23College_4&trained=&title=&author=&RightsHolder=&filetype=*&searchlang=*&review=*&license=Licences.CurrikiLicense">Creative Commons Attribution</a>{/pre}
* {pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=%23College_4&trained=&title=&author=&RightsHolder=&filetype=*&searchlang=*&review=*&license=Licences.PublicDomain">public domain</a>{/pre}
* {pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=%23College_4&trained=&title=&author=&RightsHolder=&filetype=*&searchlang=*&review=*&license=Licences.CreativeCommonsAttributionNoDerivatives">Creative Commons Attributions No Derivatives</a>{/pre}
* {pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=%23College_4&trained=&title=&author=&RightsHolder=&filetype=*&searchlang=*&review=*&license=Licences.CreativeCommonsAttributionSharealike">Creative Commons Attributions Sharealike</a>{/pre}


1.1.1.1 Highly ranked resources to construct right angled triangles

Search for the overall-ranking 3-stars and the topic ~~right-angled triangle~~:

{pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=&trained=%23Right-Triangle_r&title=&author=&RightsHolder=&filetype=*&searchlang=*&review=3&license=*">Results of a query that you can further edit</a>{/pre}

or the competency ~~construct right angled triangles~~:

{pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=&trained=%23Construct_RightAngledTriangle&title=&author=&RightsHolder=&filetype=*&searchlang=*&review=3&license=*">Results of a query that you can further edit</a>{/pre}

1.1.1.1 Resources contributed by someone of INRP

{pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=&trained=&title=&author=INRP&RightsHolder=&filetype=*&searchlang=*&review=*&license=*">Click here to see the resources submitted by contributors that have the word INRP in their profile</a>.{/pre}


1.1.1.1 City based

* {pre}<a href="/xwiki/bin/view/AdvancedSearch/Members?text=&level=&trained=&username=&firstname=&lastname=&searchlang=*&country=-&city=Barcelona">Users in Barcelona</a>{/pre}
* {pre}<a href="/xwiki/bin/view/AdvancedSearch/Resources?text=&level=&trained=&title=&author=Karlsruhe&RightsHolder=&filetype=*&searchlang=*&review=*&license=*">Resources contributed by users with Karlsruhe in their profile</a>{/pre}



1.1.1.1 Users whose main language is Spanish

{pre}<a href="/xwiki/bin/view/AdvancedSearch/Members?text=&level=&trained=&username=&firstname=&lastname=&searchlang=spa&country=-&city=">Results of a query that you can further edit</a>{/pre}



1.1.1.1 Users that share an interest on Classe de Sixième

{pre}<a href="http://draft.i2geo.net/xwiki/bin/view/AdvancedSearch/Members?text=&level=%23College_1&trained=&username=&firstname=&lastname=&searchlang=*&country=-&city=">Results of a query that you can further edit</a>{/pre}
